.icon-user-link-1 { background: url(~@/assets/images/icon/icon-router-link-001.png) no-repeat; }
.icon-user-link-2 { background: url(~@/assets/images/icon/icon-router-link-002.png) no-repeat; }
.icon-user-link-3 { background: url(~@/assets/images/icon/icon-router-link-003.png) no-repeat; }
.icon-user-link-4 { background: url(~@/assets/images/icon/icon-router-link-004.png) no-repeat; }
.icon-user-link-5 { background: url(~@/assets/images/icon/icon-router-link-005.png) no-repeat; }